//  Colores y medidas 
$rojo: #b30000;
$negro: #111111;
$gris: #f8f9fa;
$blanco: #ffffff;

$sombra: 0 4px 10px rgba(0, 0, 0, .1);
$radius: 10px;

$font-sans: "Roboto", Arial;

//  Puntos de quiebre (anchos de pantalla) 
$mobile: 768px;
$tablet-min: 768px;
$tablet-max: 991px;